
<div class="container">
    <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img [src]="service?.picture">
              <span class="card-title">{{service?.name}} ddd</span>
            </div>
            <div class="card-content">
              <p>{{service?.hp}}</p>
            </div>
            <div class="card-action">
              <a href="#">{{service?.name}}</a>
            </div>
          </div>
        </div>
      </div>
</div>
            
